@media (min-width: 320px) and (max-width: 668px) {
  .navBar > .navBarLeft {
    display: none;
  }

  section.journeyTop {
    flex-direction: column-reverse;
    padding: 10px;
    text-align: center;
  }

  section.journeyTop > .journeyTopText {
    width: 100%;
  }

  div.journeyTopImg {
    width: 100%;
  }

  div.companyLogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .footerP {
    text-align: center;
    width: 100%;
  }

  section.productsSection {
    margin-bottom: 0;
  }

  .productsSection > .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .seeMoreButton {
    margin-bottom: 83px;
  }
}
