/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url(responsive.css);

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* ------------------------------------------------NavBar Starts------------------------------------------- */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.navBar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar > ul > li {
  padding: 0px 15px;
}

.navBar > ul > li > a {
  color: black;
  font-weight: bold;
}

.navBar > ul > li > a:hover {
  padding: 8px;
  background-color: rgb(65, 53, 238);
  color: whitesmoke;
  border-radius: 4px;
  border: none;
}

/* ------------------------------------------------NavBar Ends------------------------------------------- */

/* ------------------------------------------------Influencer Journey Starts------------------------------------------- */
.journeyTop {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.journeyTopText {
  width: 40%;
}

.journeyTopText > h1 {
  color: black;
  font-size: 40px;
}

.journeyTopText > p {
  color: black;
  line-height: 20px;
  margin: 10px 0;
}

.journeyTopText > button {
  font-size: 18px;
  padding: 10px 25px;
  background-color: rgb(192, 49, 120);
  color: whitesmoke;
  border-radius: 43px;
  border: none;
  cursor: pointer;
}

.journeyTopImg {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journeyTopImg > img {
  width: 90%;
}
/* ------------------------------------------------Influencer Journey Ends------------------------------------------- */

/* ------------------------------------------------Logo Section Starts------------------------------------------- */
.companyLogos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* ------------------------------------------------Logo Section Ends------------------------------------------- */

/* ------------------------------------------------Populer Products Section Starts------------------------------------------- */

.productsSection {
  padding: 20px;
  width: 98%;
  margin: 80px auto;
}

.productsSection > h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(54, 52, 52);
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}

.product {
  width: 90%;
  height: auto;
  padding: 18px 26px 21px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products > .product {
  box-shadow: 0px 6px 45px gray;
  padding: 22px;
  border-radius: 10px;
}

.product:hover {
  box-shadow: 0px 6px 45px wheat;
  cursor: pointer;
}

.product > img {
  width: 100%;
  transition: 1.05s ease;
}

.product:hover > img {
  transform: scale(1.0255);
}

.stars {
  color: gold;
  font-size: 15px;
  margin-right: 8px;
}

.seeMoreButton {
  text-align: right;
  padding: 40px;
}

.seeMoreButton > a {
  color: rgb(192, 49, 120);
  font-weight: bold;
}

.seeMoreButton > a > i {
  margin-left: 5px;
}

/* ------------------------------------------------Populer Products Section Ends------------------------------------------- */

/* ------------------------------------------------Footer Section Starts------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 15, 58);
  color: whitesmoke;
  margin-top: 20px;
}

footer > h1 {
  margin-top: 25px;
  margin-bottom: -15px;
}

footer > p {
  letter-spacing: 1.5px;
}

.footerP {
  margin-top: 20px;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  margin-left: 10px;
}

.icon > i {
  padding: 5px;
  color: whitesmoke;
  font-size: 30px;
  /* background-color: black; */
  height: 30px;
  width: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* ------------------------------------------------Footer Section Starts------------------------------------------- */
